.home-page{
    display: grid;
    grid-template-columns: 15% 85%;
    z-index: 0;
    .home-container{
        margin-left: 6rem;
        .page-title{
            font-size: 2.5rem;
            font-weight: 500;
            margin-top: 1.5rem;
        }
        .create-group{
            margin-top: 1rem;
            margin-bottom: 1rem;
            img{
                display: inline;
                margin-right: 0.5rem;
            }
        }
    }
}