.home-page{
    display: flex;
    .sidebar{
        width: 15vw;
        height: 89vh;
        background-color: rgb(15, 94, 86);
        .group-button{
            display: flex;
            align-items: center;
            width: 100%;
            color: white;
            border-bottom: 1px solid rgb(0, 57, 36);
            img{
                height: 3rem;
                margin: 0.5rem 0.75rem;
            }
        }
    }
    .home-container{
        margin-left: 4rem;
        .page-title{
            font-size: 2.5rem;
            font-weight: 500;
            margin-top: 1.5rem;
        }
        .create-group{
            margin-top: 1rem;
            img{
                display: inline;
                margin-right: 0.5rem;
            }
        }
        .list{
            border: 3px solid rgb(0, 57, 36);
            margin-top: 1rem;
            width: 50vw;
            border-radius: 1rem;
            .list-Item{
                display: flex;
                color: black;
                width: 100%;
                border-bottom: 1px solid rgb(0, 57, 36);
                align-items: center;
                padding: 1rem 3rem;
                position: relative;
                img{
                    height: 2rem;
                    margin-right: 1rem;
                }
                .options{
                    position: absolute;
                    right: 3rem;
                }
            }
            .list-Item:hover{
                color: white;
                background-color: rgb(15, 94, 86);
            }
            .top{
                border-top-left-radius: 0.8rem;
                border-top-right-radius: 0.8rem;
            }
            .no-border{
                border: none;
                border-bottom-left-radius: 0.8rem;
                border-bottom-right-radius: 0.8rem;
            }
        }
        .dropdown{
            border: 2px solid rgb(0, 57, 36);
            border-radius: 0.7rem;
            overflow: hidden;
            z-index: 9999;
            position: absolute;
            bottom: 0rem;
            right: -9rem;
            .dropdown-item{
                display: flex;
                border-bottom: 1px solid rgb(0, 57, 36);
                padding: 0.5rem 1rem;
                img{
                    height: 1.5rem;
                    margin-right: 0.5rem;
                }
            }
            .no-border{
                border: none;
            }
        }
        .hide-drop-box{
            display: none;
        }
        .show-drop-box{
            display: block;
        }
    }
}