// Landing Page CSS

.landing-page{
    width: 100%;
    height: 400vh;
    background-color: #F7F6F8;
    overflow: hidden;
}
.first-page{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85%;
    background: linear-gradient(to bottom right, #181D26, #399893, #54D9C5);
    z-index: -2;
}
#contentDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    #textBubble3{
        position: absolute;
        margin-left: 37rem;
        margin-top: 20.5rem;
    }
    #textContentDiv{
        h1{
            font-size: 40px;
            font-weight: 600;
            color: white;
        }
        #SignUpBtn{
            font-size: 20px;
            font-weight: 500;
            border: 1px solid #1B3539;
            padding: 8px 16px;
            border-radius: 8px;
            margin-top: 2rem;
            background-color: #D3FD3B;
            color: #1B3539;
        }
        #SignUpBtn:hover{
            border: 1px solid #D3FD3B;
            color: #D3FD3B;
            background-color: transparent;
        }
        p{
            color: white;
            margin-top: 2rem;
        }
    }
    #heroImage{
        .text-bubble{
            position: absolute;
        }
        #botImg{
            margin-top: 20rem;
            margin-left: 10rem;
            z-index: 2;
        }
        #textBubble1{
            margin-left: 10rem;
        }
        #textBubble2{
            margin-left: 3rem;
            margin-top: 10rem;
        }
        #textBubble4{
            margin-top: 32.5rem;
        }
    }
}
// Gradient for the last four pages
.four-page-gradient{
    height: 300vh;
    width: 100%;
    background: linear-gradient(#F7F6F8, #399893, #2a8685, #206D6C, #103b42);
}
// Second Page
.second-page{
    height: 77vh;
    width: 100%;
    #mobilePhone{
        position: absolute;
        margin-top: 11rem;
        margin-left: 56%;
    }
    #chats{
        position: absolute;
        margin-left: 45%;
        margin-top: 13.5rem;
        
    }
    .content-container{
        width: 85%;
        height: 57%;
        margin-left: 7.5%;
        margin-top: 8rem;
        background-color: #103b42;
        border-radius: 24px;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        #textContentCol{
            padding-top: 2rem;
            padding-left: 2rem;
            width: 80%;
        }
        #secondPageText{
            color: #9eb986;
            font-weight: 600;
            font-size: 22px;
        }
        #circleDesign{
            margin-left: 3rem;
            width: 150%;
        }
    }
}

// Third Page
.third-page{
    width: 100%;
    height: 68vh;
    .content-container{
        width: 85%;
        height: 60%;
        margin-left: 7.5%;
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 50% 50%;
        #pageThreeImg{
            background-image: url(../assets/icons/desktop_chat.png);
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 16px;
        }
        #textContentCol{
            padding: 2rem 2rem;
            color: #5ad362;
            font-weight: 600;
            font-size: 22px;
        }
    }
}

.fourth-page{
    width: 100%;
    height: 70vh;
    .content-container{
        width: 85%;
        height: 60%;
        margin-left: 7.5%;
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: #89c29f;
        #pageFourImg{
            background-image: url(../assets/icons/notes.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0px 16px 16px 0px;
        }
        #pageFourTextContent{
            padding: 4rem;
            color: #e5ffef;
            font-weight: 600;
            font-size: 24px;
        }
    }
}
.fifth-page{
    width: 100%;
    height: 90.2vh;
    .contact-page{
        width: 85%;
        height: 41vh;
        background-color: white;
        margin-left: 7.5%;
        padding: 2rem 4rem 2rem;
        border-radius: 16px;
        border: 4px solid #103b42;
        h1{
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }
        input{
            height: 2rem;
            border: 1px solid #797f7b;
            border-radius: 4px;
            padding: 8px 16px;
        }
        #freeform{
            border: 1px solid #797f7b;
            border-radius: 4px;
            margin-top: 0.5rem;
            resize: none;
            padding: 12px;
        }
        #submitBtn{
            font-size: 20px;
            font-weight: 500;
            padding: 8px 16px;
            border-radius: 8px;
            margin-top: 0.5rem;
            background-color: #1B3539;
            color: #D3FD3B;
        }
        #submitBtn:hover{
            border: 1px solid #1B3539;
            color: #1B3539;
            background-color: transparent;
        }
    }
}

